.home h2 {
  font-size: 55px;
  margin-bottom: 30px;
}
.home {
  text-align: center;
}
.home .btn {
  margin-top: 30px;
}
.smartlogo {
  position: relative;
  /* background-color: #000; */
}
.smartlogo .fullImage {
  width: 100%;
  height: auto;
  position: relative;
}
